body {
  margin: 0;
}
.navbar {
  display: flex;
  background-color: #6f6af7;
  color: white;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  top: 0px;
  width: 100vw;
  font-weight: 400;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.nav-logo {
  font-family: "Delius Unicase", cursive;
  font-size: 32px;
}

.nav-hamburger img {
  height: 25px;
}
.nav-options ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-options ul li {
  margin-right: 15px;
}
.nav-options ul li select {
  border: none;
  background-color: transparent;
  color: white;
}

.nav-options ul li input {
  border-radius: 10px;
  padding: 10px 10px;
  border: none;
}
.nav-options ul li:last-of-type {
  position: relative;
}
.nav-options ul li img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 16px;
}
